[submodule "external/srs_mavros_plugins"]
	path = external/srs_mavros_plugins
	url = git@github.com:project-srs/srs_mavros_plugins.git
[submodule "external/srs_feetech_driver"]
	path = external/srs_feetech_driver
	url = git@github.com:project-srs/srs_feetech_driver.git
[submodule "external/ydlidar_ros2_driver"]
	path = external/ydlidar_ros2_driver
	url = git@github.com:YDLIDAR/ydlidar_ros2_driver.git
[submodule "external/ldlidar_stl_ros2"]
	path = external/ldlidar_stl_ros2
	url = git@github.com:project-srs/ldlidar_stl_ros2.git
